@import "../../settings.scss";

.header {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: $layout-header-height;
    z-index: 100;
    opacity: 1;
    text-align: center;

    font-family: 'SimplonNorm-Bold';
    letter-spacing: 1px;
    background: white;
    color: $text-color-black;

    .header-container {
        // height = 70px -36xp Logo
        margin: 17px auto auto auto;

        .nav-link {
            display: inline-block;
            font-size: 12px;
            width: 100px;
            text-decoration: none;
            text-transform: uppercase;

            &.active {
                text-decoration: underline;
            }
        }

        .logo-container {
            display: inline-block;

            .logo-link {
                margin: 0 10px;

                img {
                    width: 36px;
                    height: 36px;
                }
            }
        }
    }

}