.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 100;
  opacity: 1;
  font-family: 'SimplonNorm-Bold';
  letter-spacing: 1px;
  background: white;
  color: #2B2B2B; }
  @media screen and (max-width: 768px) {
    .header {
      position: relative;
      height: auto; } }
  .header .header-container {
    display: flex;
    align-items: stretch; }
    @media screen and (max-width: 768px) {
      .header .header-container {
        flex-basis: 100%;
        flex-direction: column;
        border-bottom: 1px solid; } }
    .header .header-container .nav-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 95px;
      margin: 0 10px;
      font-size: 12px;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer; }
      @media screen and (max-width: 768px) {
        .header .header-container .nav-link {
          margin: 0 auto;
          padding: 20px 0; } }
      .header .header-container .nav-link.active {
        text-decoration: underline; }
    .header .header-container a {
      color: #2B2B2B; }
    .header .header-container .logo-container {
      display: flex;
      justify-content: center; }
      @media screen and (max-width: 768px) {
        .header .header-container .logo-container {
          order: -1;
          margin: 20px 0; } }
      .header .header-container .logo-container .logo-link {
        margin: 0 10px; }
        .header .header-container .logo-container .logo-link img {
          width: 40px;
          height: 40px; }
