@import "../../settings.scss";

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top:  0;
    left: 0;
    width: 100%;
    height: $layout-header-height;
    z-index: 100;
    opacity: 1;

    font-family: 'SimplonNorm-Bold';
    letter-spacing: 1px;
    background: white;
    color: $text-color-black;

    @media screen and (max-width: $breakMd) {
        position: relative;
        height: auto;
    }

    .header-container {
        display: flex;
        align-items: stretch;

        @media screen and (max-width: $breakMd) {
            flex-basis: 100%;
            flex-direction: column;
            border-bottom: 1px solid;
        }

        .nav-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 95px;
            margin: 0 10px;
            font-size: 12px;
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;

            @media screen and (max-width: $breakMd) {
                margin: 0 auto;
                padding: 20px 0;
            }

            &.active {
                text-decoration: underline;
            }
        }

        .logo-container {
            display: flex;
            justify-content: center;

            @media screen and (max-width: $breakMd) {
                order: -1;
                margin: 20px 0;
            }

            .logo-link {
                margin: 0 10px;

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

}