@import "../../../layout/variables";

.jobs {

    padding-bottom: 35px;

    h1.jobs__heading {
        margin: 0 0 55px;
    }

    .loader {
        min-height: 280px;
    }

    &__jobList {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        @include device(small-phone) {
            justify-content: center;
        }
        
        .jobsTile {
            @include device(small-desktop) {
                font-size: 20px;

            }
    
            @include device(tablet) {
                width: 48%;
                padding-bottom: 48%;
                font-size: 26px;
            }     
            
            @include device(phone) {
                font-size: 20px;
            }
            
            @include device(small-phone) {
                font-size: 34px;
                width: 90%;
                padding-bottom: 90%;
            }
            
        }
    }
}
