@import "../../variables";

.notFound {

    text-align: center;

    h2 {
        font-size: 32px;
        background: $background-col-secondary;
        text-align: center;
    }
    
    h3 {
        margin-top: 20px;
        font-size: 34px;        
        font-weight: 400;
    }
}
