@import '../../styles/variables';

.blog-post-wrapper {


    .blog-post {

        background: white;
        min-height: 100vw;
        margin: auto;
        padding: 90px 50px;
        max-width: 1000px;

        @include device(phone) {
            flex: 1 1 auto;
            padding: 70px 16px;

            .blog-markdown-body {
                padding: 0;
            }
        }

        &-meta {
            font-size: 12px;
            width: 100%;
        }

        .blog-markdown-body {
            h1 {
                font-size: 40px;
                margin-bottom: 70px;
                margin-left: percentage(-5/90);
            }

            h2, h3, h4, h5, h6 {
                font-size: 28px;
                margin-bottom: 40px;
                margin: 30px 0 15px;
            }

            ul {
                list-style: disc;
                padding-left: 20px;

                margin-left: 10px;
            }

            li {
                padding-left: 10px;        
                margin-bottom: 5px;     
                
                font-size: 18px;
            }

            h2 > img {
                max-width: 50%;
            }

            h3 > img {
                max-width: 31%;
            }

            h4 > img, h5 > img, h6 > img {
                max-width: 22%;
            }

            img {
                max-height: 500px;
                
                width: auto;
                max-width: 100%;
            }

            p {
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 20px;
                
            }

            blockquote {
                margin: 30px 40px;
                > p {
                    font-style: italic;
                    font-size: 1.4em;
                }
            }

            iframe {
                display: block;
                margin-bottom: 20px;
            }

            pre {
                margin-left: 20px;
                font-size: 1.2em;
            }
        }
    }


    .blog-lightbox {
        position: fixed;
        z-index: 999;
        background: rgba(0, 0, 0, 0.7);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        .blog-lightbox-image-container {
            height: 100vh;
            width: 100vw;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;

            img {
                display: block;
                margin: auto;
                width: auto;
                max-height: 100%;
            }
        }
    }

    .blog-social-share {
        padding: 80px 0;
        display: flex;
        align-items: center;
        flex-direction: row;

        @include device(tablet) {
            flex-direction: column;        
            align-items: flex-start;
        }

        &__iconList {
            display: flex;
            flex-direction: row;
        }

        &__header {
            font-size: 24px;
            font-weight: 700;
            letter-spacing: -0.4px;

            @include device(tablet) {
                margin-bottom: 20px;
            }
        }

        &__icon {
            font-size: 18px;

            display: flex;
            align-items: center;
            flex-direction: row;
            
            text-decoration: none;
            margin-left: 45px;

            svg {
                width: 28px;
                height: 28px;
                margin-right: 15px;
                fill: $font-col-primary;
            }
        }
    }

    .disqus-thread {
        padding: 10px 50px 0 50px;
    }
}