.blog-post-wrapper {

    .blog-lightbox {
        position: fixed;
        z-index: 999;
        background: rgba(0, 0, 0, 0.7);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        .blog-lightbox-image-container {
            height: 100vh;
            width: 100vw;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;

            img {
                display: block;
                margin: auto;
                width: auto;
                max-height: 100%;
            }
        }
    }

    .blog-post {

        background: white;
        min-height: 100vw;
        margin: auto;
        padding: 90px 50px;
        max-width: 1000px;

        @screen sm {
            flex: 1 1 auto;
            padding: 70px 16px;

            .blog-markdown-body {
                padding: 0;
            }
        }

        .blog-markdown-body {
            h2, h3, h4, h5, h6 {
                display: flex;
                align-items: center;
                justify-content: space-between;

                img {
                    // max-height: 300px;
                    padding: 2px;
                }
            }

            h1 {
                img {
                    width: 100vw;
                    max-width: 100vw;
                    left: 0;
                    position: absolute;
                    padding: 12px 0;
                }
            }

            h2 {
                img {
                    flex: 1 1 48%;
                    max-width: 48%;
                }
            }

            h3 {
                img {
                    flex: 1 1 31%;
                    max-width: 31%;
                }
            }

            h4, h5, h6 {
                img {
                    flex: 1 1 22%;
                    max-width: 22%;
                }
            }

            img {
                max-height: 500px;
                width: auto;
            }

            p {
                img {
                    display: block;
                    margin: auto;
                }
            }

        }

    }
}