.blog-post-wrapper {

    .lightbox {
        position: fixed;
        z-index: 999;
        background: rgba(0, 0, 0, 0.7);
        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        .lightbox-image-container {
            height: 100vh;
            width: 100vw;
            padding: 20px;

            img {
                display: block;
                margin: auto;
                width: auto;
                height: 100%;
            }
        }
    }

    .blog-post {

        background: white;
        min-height: 100vw;
        margin: auto;
        padding: 90px 50px;
        max-width: 1000px;

        @screen sm {
            flex: 1 1 auto;
            padding: 70px 16px;

            .markdown-body {
                padding: 0;
            }
        }

        .markdown-body {
            h2, h3, h4, h5, h6 {
                img {
                    max-width: 32%;
                    padding: 2px;
                }
            }

            img {
                max-height: 500px;
                width: auto;
            }

            p {
                img {
                    display: block;
                    margin: auto;
                }
            }

        }

    }
}