@import "../../layout/variables";

.jobDetailsView {

    background: $background-col-secondary;
    padding: 100px 0;

    .terminal {
        margin: 100px 0 0 20px;

        @include device(tablet) {
            margin-left: 0;
        }     
        
    }
    .socialBar {
        svg {
            fill: $font-col-active;
        }
    }

    div.jobDetailsView__heading {
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        @include device(tablet) {
            flex-direction: column;
            
            > h1 {
                font-size: 38px;
            }

            > a {
                align-self: flex-end;

                margin-bottom: 5px;
                margin-top: 20px;

                &:hover {
                    margin-top: 23px;                    
                    margin-bottom: 2px;
                }
            }
            
        }     
    }

    &__content {
        font-size: 18px;
        padding: 19px 15px 15px;
        margin: -15px 0 0 20px;
        background: #fff;

        ul {
            list-style: disc;
            padding-left: 18px;
            
            li {
                padding: 10px 0 0px;
            }
        }

        > p {
            padding: 10px 0 0px;
        }

        &--heading {
            font-size: 26px;
            margin: 30px 0 0px;
            text-transform: uppercase;
            letter-spacing: 1px;
            background: $font-col-active;
            display: inline-block;
            padding: 8px 15px 5px;
            color: #fff;
        }

        &--no-heading {
            margin-top: 15px;
            
            :first-child {
                padding-top: 0;
            }
        }
        
    }


    &__hero {
        margin: 50px 0;
        position: static;

        height: 350px;

        > .image {
            height: inherit;
            position: absolute;
            width: 100vw;
            left: 0;
            right: 0;

            background-size: cover;
            background-position: 50%;
    
            &:after {
                position: absolute;
                content:"";
                height:100%;
                width:100%;
                top:0;
                left:0;

                mix-blend-mode: color;
            }
        }
    }

    &__subnav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        align-items: flex-start;
    }

    &__section {
        display: block;

        color: $font-col-primary;

        font-weight: 400;
        font-size: 16px;
        text-transform: lowercase;
        letter-spacing: 1px;
        margin: 0 0 30px;

        text-decoration: none;

        transition: color .2s;

        &:before {
            content: '> ';
        }
        
        &:after {
            content: '_';
        }
        
        &:after, &:before {
            font-weight: 500;
            color: $font-col-active;    

            transition: color .2s;
        }

        &:hover {
            color: $font-col-active;    
        }

    }

    &__applyButton {
        text-decoration: none;
        background: salmon;
        padding: 10px 15px 8px;
        font-size: 23px;
        color: #fff;
        letter-spacing: 1px;
        text-transform: uppercase;
        box-shadow: 5px 5px #fa80726b;
        margin-left: 10px;
        font-weight: 500;

        margin-right: 5px;
        margin-top: 0px;

        &:hover {
            margin-top: 3px;
            margin-right: 2px;

            box-shadow: 2px 2px #fa80726b;
        }

        transition: .1s;
    }

    &__shareApply {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        height: 50px;
        margin: 50px 0 0px 20px;
    }
}
