@import '../../styles/variables';

.blogSummary {
    padding: 65px 0; /* safe area for nav */
    min-height: 100vw;
    
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        margin: 100px 0 70px;
        font-family: $font-fam-secondary;
        font-size: 64px;
        font-weight: 300;
        align-self: flex-start;

        @include device(tablet) {
            font-size: 54px;
            margin: 40px 0 70px;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;

        align-items: flex-start;
        flex-wrap: wrap;

        justify-content: space-between;
        width: 80%;

        @include device(tablet) {
            flex-direction: column;
            width: 90%;
        }
    }

    &__item {
        > a {
            text-decoration: none;
        }

        align-self: stretch;
        width: 45%;

        padding-bottom: 80px;
        margin-bottom: 80px;

        border-bottom: 2px solid $grey;

        transition: border-color .4s;
        &:hover {
            border-color: $font-col-interaction;
        }
        
        @include device(tablet) {
            width: 100%;

            &:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: 0;
            }
        }

        @include device(phone) {
            padding-bottom: 40px;
            margin-bottom: 40px;
        }
    }

    &__image.croppedImage {
        width: 100%;
        height: 0;
        margin-bottom: 25px;

        padding-top: percentage(2/3); 
    }

    &__title {
        margin-bottom: 10px;
    }

    &__summary {
        font-size: 18px;
        line-height: 30px;
    }
}
