/**
 * Enable Smoothing of Fonts on Webkit Browsers
 *
 */

 @mixin font-smoothing {
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/**
 * Layout Helper
 *
 */

 @mixin layout-section {
  max-width: $screen-max-width;
  margin: 0 auto;
}


@mixin vertical-stack-flush-margins {
  &:first-child {
    margin-top: 0 !important; 
  }

  &:last-child {
    margin-bottom: 0 !important;
  }
}


@mixin horizontal-stack-flush-margins {
  &:first-child {
    margin-left: 0 !important;
  }

  &:last-child {
    margin-right: 0 !important;
  }
}