/**
 * Colors for the good, the bad and the ugly... 
 * What was that, a title for a bad novel?!
 */

$white:       rgb(255, 255, 255);
$black:       rgb(0, 0, 0);
$clr-text:    rgb(44, 44 ,44);
$amaranth:    rgb(233, 30, 99);

$h1-color: $amaranth;

$gradient-lagoon: linear-gradient(330deg,#0dcfce,#183789);


/**
 * Responsive Settings
 * To manage breakpoints, I use "include-media", 
 * see here: https://github.com/eduardoboucas/include-media
 */

$breakpoints: (
  desktop: 64em,
  tablet:  48em, 
  phone:   35.5em, 
  lg: 80em,
  md: 64em,
  sm: 48em,
  xs: 35.5em
);


/**
 * Grid Settings
 * To manage grids, I use "gridlex", 
 * see here: https://github.com/devlint/gridlex
 */

 $gl-mq-list: (
  lg: "screen and (max-width: 80em)",   // max 1280px
  md: "screen and (max-width: 64em)",   // max 1024px
  sm: "screen and (max-width: 48em)",   // max 768px
  xs: "screen and (max-width: 35.5em)"  // up to 568px
);


/**
 * Import Fonts from Google Fonts, 
 * Define Fontstack
 */

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300|Roboto:100,300,400,500,700');

$fontstack: Roboto, "Neue Helvetica", Helvetica, Arial, sans-serif;
$fontstack-mono: "Roboto Mono", monospace;

$text-line-height:     1.4;
$text-line-height-lg:  1.8;


/**
 * Layout Sizes
 * 
 */

$screen-max-width: 80em;
$main-nav-height: 60px;


/**
 * Transitions, Animation
 * 
 */

$transition: all 250ms ease;


/**
 * Box Shadow
 * 
 */

$box-shadow: 0 4px 20px 0 rgba($black, 0.12);;