/**
 * Colors for the good, the bad and the ugly... 
 * What was that, a title for a bad novel?!
 */

$white:       rgb(255, 255, 255);
$black:       rgb(0, 0, 0);
$clr-text:    rgb(44, 44 ,44);

$gradient-lagoon: linear-gradient(330deg,#0dcfce,#183789);


/**
 * Responsive Settings
 * To manage breakpoints, I use "include-media", 
 * see here: https://github.com/eduardoboucas/include-media
 */

$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px);


/**
 * Import Fonts from Google Fonts, 
 * Define Fontstack
 */

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500|Roboto:100,300,400,500,700');

$fontstack: Roboto, "Neue Helvetica", Helvetica, Arial, sans-serif;
$fontstack-mono: "Roboto Mono", monospace;


/**
 * Layout Sizes
 * 
 */

$screen-max-width: 80em;