@import "./mixins.scss";
@import "./../node_modules/include-media/dist/include-media";


/**
 * Text Styles
 *
 */

.hero-heading {
  
  @include font-smoothing;
  @include vertical-stack-flush-margins;

  margin: 40px 0;
  color: $white;
  font-size: 72px;
  font-weight: 200;


  @include media("<=xs") {
    font-size: 42px;
  }


  &--dark {
    color: $black;
  }
}
  
  
.hero-intro {

  @include font-smoothing;
  @include vertical-stack-flush-margins;

  margin: 16px 0;
  font-size: 20px;
  font-weight: 400;
  color: rgba($white, 0.66);
  line-height: 1.6;
  letter-spacing: 0.05em;

  @include media("<=xs") {
    font-size: 16px;
  }
}
  
  
.has-cursor {
  
  position: relative;
  
  &::after {
    content: "";
    display: inline-block;
    margin: 0 0.125em;
    width: 1em;
    border-bottom: 0.033em solid;
  }

  &--400 {
    &::after {
      border-bottom-width: 0.08em;
    }
  }
}


.h0 {
  @include vertical-stack-flush-margins;
  
  margin: 40px 0;
  font-size: 42px;
  font-weight: 200;
  color: $white;
}


.h1 {

  @include vertical-stack-flush-margins;
  
  margin: 40px 0;
  font-size: 28px;
  font-weight: 400;
  color: $h1-color;
}


.hx-intro {

  @include vertical-stack-flush-margins;

  margin: 20px 0;
  font-size: 18px;
  line-height: $text-line-height;
}


.text {

  @include vertical-stack-flush-margins;

  font-size: 16px;
  line-height: $text-line-height;


  &--300 {
    font-weight: 300;
  }


  &--lh-lg {
    line-height: $text-line-height-lg;
  }


  &--clr-1 {
    color: rgba($clr-text, 0.8);
  }


  &--clr-2 {
    color: rgba($clr-text, 0.6);
  }
}


.product-intro {

  @include vertical-stack-flush-margins;
  
  font-size: 16px;
  
  @extend .text--300;
  @extend .text--clr-2;
  @extend .text--lh-lg;
}