@import "./mixins";
@import "./node_modules/include-media/dist/include-media";

/**
 * Layout Helper
 *
 */

.l-container {
  @include layout-section;
  padding: 60px 20px;

  @include media("<=xs") {
    padding: 40px 20px;
  }


  &--lg {
    padding: 100px 20px;

    @include media("<=xs") {
      padding: 40px 20px;
    }
  }


  &--no-gutter {
    padding: 0;

    @include media("<=xs") {
      padding: 0;
    }
  }
}


.grid-posAbsolute-bottom {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;

  @include media("<=sm") {
    position: relative;
  }
}


.margin-h-md {
  @include vertical-stack-flush-margins;
  
  $margin: 40px;
  $margin-md: 30px;
  $margin-xs: 20px;
  margin-top: $margin !important;
  margin-bottom: $margin !important;

  // @include media("<=xs") {
  //   padding-top: $padding-xs;
  //   padding-bottom: $padding-xs;
  // }

  // @include media("<=md", ">=xs") {
  //   padding-top: $padding-md;
  //   padding-bottom: $padding-md;
  // }
}


/**
 * Color Helper
 *
 */

.fill-dark {
  background-color: $black;

  &--0 {
    background-color: $black;
  }

  &--1 {
    background-color: rgba($black, 0.9);
  }

  &--2 {
    background-color: rgba($black, 0.8);
  }

  &--3 {
    background-color: rgba($black, 0.7);
  }

  &--4 {
    background-color: rgba($black, 0.6);
  }

  &--5 {
    background-color: rgba($black, 0.5);
  }

  &--6 {
    background-color: rgba($black, 0.4);
  }

  &--7 {
    background-color: rgba($black, 0.3);
  }

  &--8 {
    background-color: rgba($black, 0.2);
  }

  &--9 {
    background-color: rgba($black, 0.1);
  }
}


/**
 * Misc
 *
 */

.has-box-shadow {
  box-shadow: 0 4px 20px 0 rgba($black, 0.12);
}


.no-wrap {
  white-space: nowrap;
}


.block-100-sm {
  @include media("<=sm") {
    display: block;
    width: 100%;
  }
}