$salmon: #fd7572;

$azure: #15b3f9;

$grey: #ededed;
$light-grey: #f7f8f9;
$darkest-grey: #2b2b2b;

$font-col-primary: $darkest-grey;
$font-col-secondary: #fff;
$font-col-interaction: salmon;
$font-col-active: salmon;

$background-col-primary: #fff;
$background-col-secondary: $light-grey;

$font-fam-sans: 'SimplonNorm', 'Roboto', 'Helvetica Neue', 'Helvetica', 'sans-serif';
$font-fam-dot: 'FoundryPlek', 'Helvetica Neue', 'Helvetica', 'sans-serif';

$font-fam-primary: $font-fam-sans;
$font-fam-secondary: $font-fam-dot;

// Breakpoints
$breakpoint-phone: 450px;
$breakpoint-tablet: 800px;
$breakpoint-small-desktop: 1024px;

@mixin device($deviceType) {
    @if $deviceType == phone {
        @media only screen and (max-width: $breakpoint-phone) {
            @content;
        }
    } @else if $deviceType == tablet {
        @media only screen and (max-width: $breakpoint-tablet) {
            @content;
        }
    } @else if $deviceType == small-desktop {
        @media only screen and (max-width: $breakpoint-small-desktop) {
            @content;
        }
    } @else {
        @error "DeviceType is unknown:" + $deviceType;
    }
}