$salmon: #fd7572;

$azure: #15b3f9;

$grey: #ededed;
$light-grey: #f7f8f9;
$darkest-grey: #2b2b2b;

$font-col-primary: $darkest-grey;
$font-col-interaction: salmon;
$font-col-active: salmon;

$background-col-primary: #fff;
$background-col-secondary: $light-grey;
