@import "../../../styles/variables";

.portfolio {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__list {
        display: flex;
        flex-direction: row;

        align-items: flex-start;
        flex-wrap: wrap;

        justify-content: space-between;
        width: 80%;

        @include device(tablet) {
            flex-direction: column;
        }
    }

    &__item {
        align-self: stretch;
        width: 45%;

        padding-bottom: 100px;
        margin-bottom: 80px;

        border-bottom: 2px solid $grey;

        @include device(tablet) {
            width: 100%;
        }
    }

    &__image {
        margin-bottom: 25px;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__description {
        font-size: 18px;
        line-height: 30px;
    }
}