.l-culture {
  background: white; }
  .l-culture .slide {
    min-height: 100vh; }
  .l-culture .slide__oneliner {
    background: #160ecf;
    color: white; }
    .l-culture .slide__oneliner .oneliner-text {
      font-family: 'BPdots-Light';
      font-size: 14.2vw;
      line-height: 95%;
      padding: 36px 1vw 0 8.5vw;
      text-transform: uppercase; }
      @media screen and (min-width: 1000px) {
        .l-culture .slide__oneliner .oneliner-text {
          font-size: 160px;
          padding: 36px 0 0 0;
          line-height: 20vh; } }
