@import "./../../styles/settings";
@import "./../../styles/mixins";
@import "./../../styles/text-styles";
@import "./../../styles/utils";
@import "./node_modules/include-media/dist/include-media";

/**
 * Hero Section
 *
 */

.hero {
  min-height: 460px;
  background: $gradient-lagoon;
}


/**
 * Main Navigation
 *
 */

.main-nav {
  display: flex;
  margin:  0;
  padding: 0 20px;
  list-style: none;

  @include media("<=xs") {
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }


  @mixin item-layout {
    @include horizontal-stack-flush-margins;
    display: flex;
    align-items: center;
    min-height: $main-nav-height;
    margin: 0 20px;
  }


  @mixin item-text {
    font-family: $fontstack-mono;
    font-size: 13px;
    color: $white;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
  }


  &--right {
    justify-content: flex-end;

    @include media("<=xs") {
      justify-content: center;
    }
  }


  &__item {
    @include item-layout;
    @include item-text;
  }

  
  &__item-link {
    position: relative;
    display: flex;
    align-items: center;
    min-height: $main-nav-height;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid transparent;
    cursor: pointer;


    &::after {
      content: "";
      position: absolute;
      left:   -30%;
      bottom: -1px;
      width:  160%;
      height: 1px;
      background-color: transparent;
      transition: $transition;
    }


    &--active {
      &::after {
        background-color: $white;
      }
    }


    &:hover:not(&--active) {
      &::after {
        background-color: rgba($white, 0.25);
      }
    }
  }
}


/**
 * Hero Text Section
 *
 */

.hero__text {
  @include layout-section;
  padding: 120px 100px;
  padding-right: 200px;
}


/**
 * Product Images
 *
 */

.l-fav-element {
  position: relative;
  border-bottom: 1px solid rgba($black, 0.12);
}


.fav-element__image-section {
  overflow: hidden;
  background-color: rgba($black, 0.85);
  box-shadow: $box-shadow;
}


