@import "./../../styles/settings";
@import "./../../styles/mixins";
@import "./../../styles/text-styles";
@import "./../../styles/utils";
@import "./node_modules/include-media/dist/include-media";


/**
 * Product Images
 *
 */

.l-fav-element {
  position: relative;
  min-height: 550px;
  border-bottom: 1px solid rgba($black, 0.12);
}


.fav-element__image-section {
  overflow: hidden;
  background-color: rgba($black, 0.85);
  box-shadow: $box-shadow;
}


.fav-element__icon-row {
  @include vertical-stack-flush-margins;
  display: flex;
  align-items: center;
  margin: 40px 0;
}


.fav-element__icon {
  @include horizontal-stack-flush-margins;
  margin: 0 10px;
}


