@import "./../../styles/settings";
@import "./../../styles/mixins";
@import "./../../styles/text-styles";
@import "./../../styles/utils";
@import "./node_modules/include-media/dist/include-media";


/**
 * Contact Section
 *
 */

.contact__img-box {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top:  0;
    left: 0;
    width:  100%;
    height: 100%;
    background: $gradient-lagoon;
    opacity: 0.125;
  }
}


.contact__img {
  width: 100%;
  height: auto;
}


@mixin contact__txt {
  
  @include vertical-stack-flush-margins;

  font-family: $fontstack-mono;
  color: $clr-text;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: $transition;

  @include media("<=md") {
    font-size: 14px;
  }

  @include media("<=sm") {
    font-weight: 300;
  }

  &--sm {
    font-size: 12px;

    @include media("<=md") {
      font-size: 12px;
    }
  }
}


.contact__txt {
  @include contact__txt;
}


.contact__link {
  @include contact__txt;

  &:hover {
    border-bottom-color: $black;
    
    @include media("<=sm") {
      border-bottom-color: transparent;
    }
  }
}


.contact__txt-intro {
  @include vertical-stack-flush-margins;
  @include font-smoothing;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;

  @include media("<=xs") {
    font-size: 16px;
  }
}


.contact__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25px;
  margin-right: 5px;
}


.contact__icon {
  @include horizontal-stack-flush-margins;
  
  height: 16px;
  width:  auto;
  fill: rgba($deeppink, 0.88);


  @include media("<=sm") {
    height: 14px;
  }
}


.contact__list {
  @include vertical-stack-flush-margins;
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
  padding: 0;

  @include media("<=sm") {
    display: block;
  }
}


.contact__list-item {
  $border-color: rgba($black, 0.08);
  $border: 1px solid $border-color;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  width: 25%;
  border-top: $border;
  border-bottom: $border;

  @include media("<=sm") {
    justify-content: flex-start;
    width: 100%;
    min-height: 50px;
    padding: 20px;
    border-bottom: none;
    
    &:last-child {
      border-bottom: $border
    }
  }
}