@import "./../../styles/settings";
@import "./../../styles/mixins";
@import "./../../styles/text-styles";
@import "./../../styles/utils";
@import "./node_modules/include-media/dist/include-media";

/**
 * Hero Section
 *
 */

.hero {
  min-height: 460px;
  background: $gradient-lagoon;


  @include media("<=xs") {
    min-height: auto;
  }


  &--light {
    background: none;
    background-color: $white;
  }
}


/**
 * Hero Text Section
 *
 */

.hero__text {
  @include layout-section;
  padding: 120px 100px;
  padding-right: 200px;
}


.responsive-image {
  width: 100%;
  height: auto;
}


.contact__image-container {
  position: relative;


  &::after {
    content: "";
    position: absolute;
    top:  0;
    left: 0;
    width:  100%;
    height: 100%;
    background: $gradient-lagoon;
    opacity: 0.125;
  }
}


.contact__image {
  width: 100%;
  height: auto;
}
