.blog-post {
  background: white;
  min-height: 100vw;
  margin: auto;
  padding: 90px 50px;
  max-width: 1000px; }
  .blog-post .markdown-body h2 img, .blog-post .markdown-body h3 img, .blog-post .markdown-body h4 img, .blog-post .markdown-body h5 img, .blog-post .markdown-body h6 img {
    max-width: 32%;
    padding: 2px; }
  .blog-post .markdown-body img {
    max-height: 500px; }
  .blog-post .markdown-body p img {
    display: block;
    margin: auto; }
