@import "../../../styles/variables";

.testimonials {
    background: $background-col-secondary;
    padding: 100px 80px;
    height: 100vh;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
        height: 100%;
        padding: 50px 0;
    }

    &__indicator {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        align-items: center;

        z-index: 2;        
    }
    
    &__indicatorDot {
        background-color: $azure;

        height: 5px;
        width: 5px;
        border-radius: 999px;
        margin-right: 25px;
        
        cursor: pointer;
        opacity: .3;

        &:last-child {
            margin-right: 0;
        }

        transition: .2s;

        &:hover {
            opacity: 1;    
        }

        &--active {
            opacity: 1;    
            height: 7px;
            width: 7px;            
        }
    }

    &__text {
        font-size: 64px;
        font-weight: 700;
        letter-spacing: -1.5px;
        color: $font-col-interaction;

        &:before {
            content: '„';
        }

        &:after {
            content: '“';
        }
        margin-left: 10%;
        width: 90%;

        @include device(tablet) {
            font-size: 48px;
        }

        @include device(phone) {
            font-size: 28px;
        }
    }

    &__author {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    &__overlay {
        position: absolute;
        height: 100%;
        top: 0;
        
        z-index: 1;
        cursor: pointer;

        &--left {
            width: 40%;
            left: 0;

            &:hover > svg{
                left: 0px;
            }
        }

        &--right {
            width: 60%;
            right: 0;

            &:hover > svg{
                right: 0px;
            }
        }
    }

    &__arrow {
        position: absolute;
        bottom: 0;
        transition: .2s;

        &--left {
            left: 10px;
        }

        &--right {
            right: 10px;
        }
    }
}