@import "./../../styles/settings";
@import "./../../styles/mixins";
@import "./../../styles/utils";


/**
 * Footer
 *
*/

.footer-nav {
  display: flex;
  justify-content: flex-end;
  margin:  0;
  padding: 0;
  list-style: none;
}


.footer-link {
  @include horizontal-stack-flush-margins;
  position: relative;
  margin: 0 10px;
  padding: 20px 0;
  font-family: $fontstack-mono;
  color: rgba($white, 0.66);
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: $transition;


  &::after {
    content: "";
    position: absolute;
    left:   -20%;
    bottom: 0;
    width:  140%;
    height: 1px;
    background-color: transparent;
    transition: $transition;
  }


  &:hover {
    color: $white;
    &::after {
      background-color: rgba($white, 0.5);
    }
  }
}


.btn-row {
  @include vertical-stack-flush-margins;
  margin: 40px 0;
}


.btn {
  @include horizontal-stack-flush-margins;
  margin: 0 10px;
  padding: 16px 30px;
  font-family: $fontstack-mono;
  font-size: 14px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border: 1px solid rgba($white, 0.66);
  cursor: pointer;
  transition: $transition;

  &:hover {
    border-color: $white;
  }


  &:active {
    color: $clr-text;
    background-color: $white;
  }
}