$transitionIn: all 300ms cubic-bezier(0.445, 0.05, 0.55, 1.25);
$transitionOut: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 100ms;

.portfolio-item__bg {
    transition: $transitionOut;

    @screen sm {
        opacity: 0.25;
    }
}

.portfolio-item__text {
    transition: $transitionIn;
    opacity: 0;
    transform: scale(0.88);

    @screen sm {
        opacity: 1;
        transform: scale(1);
    }
}

.portfolio-item {
    &:hover {
        & .portfolio-item__text {
            opacity: 1;
            transform: scale(1);
        }

        & .portfolio-item__bg {
            opacity: 0.25;
            transform: scale(.66);
            filter: blur(5px);
        }
    }
}
