@import "../../../styles/variables";

.hero {
    height: 100vh;
    width: 100%;
    padding: 65px 0; /* safe area for nav */

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    &__text {
        width: 90%;
        max-width: 900px;
        text-align: center;

        font-size: 36px;

        line-height: 45px;
        font-weight: 300;

        @include device(phone) {
            font-size: 28px;
            line-height: 40px;
        }
    }

    &__arrow {
        width: 45px;

        position: absolute;
        bottom: 0;
        left: 50%;

        padding: 10px 10px 20px;
        box-sizing: content-box;

        transform: translateX(-50%);

        cursor: pointer;

        animation: jump 3s infinite;
    }
}

@keyframes jump {
    0% {
        transform: translate(-50%, 0)
    }
    5% {
        transform: translate(-50%, 10px)
    }
    10% {
        transform: translate(-50%, 0)
    }
    15% {
        transform: translate(-50%, 10px)
    }
    20% {
        transform: translate(-50%, 0)
    }
    100% {
        transform: translate(-50%, 0)
    }
}
