@import "./../../styles/settings";
@import "./../../styles/mixins";
@import "./node_modules/include-media/dist/include-media";


/**
 * Main Navigation
 *
 */

.main-nav {
  display: flex;
  margin:  0;
  padding: 0 20px;
  list-style: none;

  @include media("<=xs") {
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }


  @mixin item-layout {
    @include horizontal-stack-flush-margins;
    display: flex;
    align-items: center;
    min-height: $main-nav-height;
    margin: 0 20px;
  }


  @mixin item-text {
    font-family: $fontstack-mono;
    font-size: 13px;
    color: $white;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
  }


  &--right {
    justify-content: flex-end;

    @include media("<=xs") {
      justify-content: center;
    }
  }


  &__item {
    @include item-layout;
    @include item-text;
  }

  
  &__item-link {
    position: relative;
    display: flex;
    align-items: center;
    min-height: $main-nav-height;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid transparent;
    cursor: pointer;


    &::after {
      $item-overlap: 10px;
      content: "";
      position: absolute;
      left:   -#{$item-overlap};
      bottom: -1px;
      width:  calc(100% + #{$item-overlap * 2});
      height: 1px;
      background-color: transparent;
      transition: $transition;

      @include media("<=xs") {
        bottom: -2px;
      }
      
    }


    &--active {
      &::after {
        background-color: $white;
      }
    }


    &:hover:not(&--active) {
      &::after {
        background-color: rgba($white, 0.25);
      }

      @include media("<=xs") {
        &::after {
          background-color: $white;
        }
      }
    }
  }
}
