@import "./../../settings.scss";

.footer {
    color: white;
    padding: 80px 20px;

    //&.wide {
    //    margin-bottom: 0;
    //    padding-bottom: 0;
    //}

    .footer-container {
        max-width: 1000px;
        margin: auto;
        padding: 12px 0 36px 0;

        display: flex;
        flex-wrap: wrap;

        h2 {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;
            opacity: 0.8;
        }

        a, p {
            color: white;
            text-decoration: none;
            text-transform: none;
            display: block;
            margin: auto;
            padding: 4px 0;
            font-size: 10px;
            opacity: 0.4;
        }

        a:hover {
            opacity: 0.8;
            text-decoration: underline;
        }

        .footer__column {
            text-align: left;

            .footer__list {

            }

            &.col1 {
                flex: 2 0 auto;
            }
            &.col2 {
                flex: 1 0 auto;
            }
            &.col3 {
                flex: 1 0 auto;
            }
            &.col4 {
                flex: 2 0 auto;
            }
            &.col-with-text {
                @media screen and (max-width: $breakPointMedium) {
                    padding-left: 20px;
                }
            }
            h1 {
                @media screen and (max-width: $breakPointSmall) {
                    font-size: 20px;
                }
            }
        }
    }
}
