@import "../../variables";

.jobsView {
    h1.sectionHeading {
        align-self: auto;
    }
    
    padding:  100 0 100px;

    &__jobList {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
              
        @include device(small-phone) {
            justify-content: center;
        }
    }

    &__intro {
        font-weight: 300;
        padding: 40px 0;
        letter-spacing: 1px;
        font-size: 28px;
        text-align: center;
    }

    &__outro {
        font-size: 28px;
        text-align: center;

        > span {
            display: block;
            font-size: 14px;
            width: 80%;
            margin: 150px auto 50px;
        }
    }
    
    &__container {
        &--intro {
            margin: 0 0 0px;
            background: $background-col-secondary;
        }

        &--initiativ {
            margin: 105px 0 50px;
            background: $font-col-active;
        }   

        &--tiles {
            margin-top: 80px;

            > h1 {
                margin-bottom: 20px;
            }
        }

        &--heading {
            
        }

        &--video {
            padding: 10px 0 50px;
            background: #f7f8f9;
            font-size: 0;
        }
    }

    &__initiativ {
        color: #fff;
        font-weight: 300;
        padding: 40px 0;
        letter-spacing: 1px;
        font-size: 28px;
        text-align: center;
    }


    .jobsTile {
        @include device(small-desktop) {
            font-size: 20px;

        }

        @include device(tablet) {
            width: 48%;
            padding-bottom: 48%;
            font-size: 26px;
        }     
        
        @include device(phone) {
            font-size: 20px;
        }
        
        @include device(small-phone) {
            font-size: 34px;
            width: 90%;
            padding-bottom: 90%;
        }
        
    }
}
