@import "../settings.scss";

.l-home {
    background: white;

    .slide {
        min-height: 100vh;
        width: 100%;

        .slide-content {
            margin: auto;
            max-width: 1000px;
            width: 100%;
            padding: 12px;
        }
    }

    .slide__oneliner {
        background: $background-color-black;
        color: white;

        .oneliner-text {
            font-family: 'FoundryPlek-Light';
            font-size: 14.2vw;
            line-height: 95%;
            padding: 36px 1vw 0 8.5vw;
            text-transform: uppercase;

            @media screen and (min-width: $breakPointBig) {
                font-size: 160px;
                padding: 36px 0 0 0;
                line-height: 20vh;
            }
        }
    }

    .slide__slogan {
        font-family: 'SimplonNorm-Light';
        color: $text-color-black;
        font-size: 36px;

        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        text-align: center;

        .slogan-text {
            max-width: 60vw;
        }
    }

    .slide__how-can-we-help-you {
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 80px 20px;
        background-color: $background-color-black;
        color: $text-color-white;

        h1 {

        }

        .service-box {
            h2 {

            }

            p {

            }
        }

    }

    .slide__portfolio {
        background: white;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;

        .product-box {
            margin: 22px 6px;
            flex: 1 1 400px;
            display: flex;
            flex-direction: column;

            .product-title {
                font-size: 12px;
                text-transform: uppercase;
                padding-bottom: 14px;
            }

            .product-image-wrapper {

                // to overlay both, the wrapper is 'relative', the childs are 'absolute'
                position: relative;
                .product-text {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background: #403cd9;
                    opacity: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    @include transition(opacity .8s ease-in-out);

                    &:hover {
                        opacity: 0.9;
                        transition: none;

                        // TODO try this out: filter: alpha(opacity=50);
                    }

                    .product-text__inner {
                        color: white;
                        font-size: 18px;
                        //position: relative;
                        //top: 25%;
                        //bottom: 25%;

                        margin: auto;
                        max-width: 60%;
                    }
                }

                .product-image {
                    max-width: 100%;
                }
            }

        }
    }
}

.slide__heading {
    margin: 0 0 60px 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.slide__section-heading {
    opacity: 0.8;
    margin: 0 0 10px 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.slide__text {
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
}

.slide__item {
    padding: 20px 0;
}