@import "../settings.scss";

.l-home {
    background: white;

    .slide {
        min-height: 100vh;
    }

    .slide__oneliner {
        background: black;
        color: white;

        .oneliner-text {
            font-family: 'BPdots-Light';
            font-size: 14.2vw;
            line-height: 95%;
            padding: 36px 1vw 0 8.5vw;
            text-transform: uppercase;

            @media screen and (min-width: $breakPointBig) {
                font-size: 160px;
                padding: 36px 0 0 0;
                line-height: 20vh;
            }
        }
    }

    .slide__slogan {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        text-align: center;
        .slogan-text {
            max-width: 60vw;
            font-size: 22px;
        }
    }

    .slide__products {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;

        .product-box {
            margin: 22px 6px;
            flex: 1 1 400px;
            display: flex;
            flex-direction: column;

            .product-title {
                font-size: 12px;
                text-transform: uppercase;
                padding-bottom: 14px;
            }

            .product-image-wrapper {

                // to overlay both, the wrapper is 'relative', the childs are 'absolute'
                position: relative;
                .product-text {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background: #403cd9;
                    opacity: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    @include transition(opacity .8s ease-in-out);

                    &:hover {
                        opacity: 0.9;
                        transition: none;

                        // TODO try this out: filter: alpha(opacity=50);
                    }

                    .product-text__inner {
                        color: white;
                        font-size: 18px;
                        //position: relative;
                        //top: 25%;
                        //bottom: 25%;

                        margin: auto;
                        max-width: 60%;
                    }
                }

                .product-image {
                    max-width: 100%;
                }
            }

        }
    }
}