@charset "UTF-8";
.l-home {
  background: white; }
  .l-home .slide {
    min-height: 75vh;
    width: 100%; }
    .l-home .slide .slide-content {
      margin: auto;
      max-width: 1000px;
      width: 100%;
      padding: 12px; }
  .l-home .slide__oneliner {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 80px 20px;
    background: #121212;
    color: white; }
    .l-home .slide__oneliner .oneliner-quote {
      padding: 20px;
      font-family: 'FoundryPlek-Light';
      font-size: 64px;
      line-height: 1.3333;
      text-transform: uppercase;
      text-align: center;
      quotes: "“" "”" "‘" "’"; }
      .l-home .slide__oneliner .oneliner-quote:before {
        content: open-quote; }
      .l-home .slide__oneliner .oneliner-quote:after {
        content: close-quote; }
      @media screen and (min-width: 1000px) {
        .l-home .slide__oneliner .oneliner-quote {
          font-size: 64px;
          line-height: 1.3333; } }
      @media screen and (max-width: 768px) {
        .l-home .slide__oneliner .oneliner-quote {
          font-size: 22px; } }
    .l-home .slide__oneliner .oneliner-quoted-by {
      margin: 80px 0;
      font-size: 16px;
      line-height: 1.3333;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1.5px; }
  .l-home .slide__slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; }
    .l-home .slide__slogan .slogan-text {
      font-family: 'SimplonNorm-Light';
      color: #2B2B2B;
      font-size: 36px;
      text-align: center; }
      @media screen and (max-width: 768px) {
        .l-home .slide__slogan .slogan-text {
          font-size: 22px; } }
  .l-home .slide__how-can-we-help-you {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 80px 20px;
    background-color: #121212;
    color: #FFFFFF; }
    .l-home .slide__how-can-we-help-you .slide-content {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap; }
      .l-home .slide__how-can-we-help-you .slide-content .service-header {
        text-align: center;
        flex: 1 0 100%;
        margin-bottom: 50px; }
        .l-home .slide__how-can-we-help-you .slide-content .service-header h1 {
          font-family: "SimplonNorm-Bold";
          font-size: 17px; }
      .l-home .slide__how-can-we-help-you .slide-content .service-box {
        flex: 0 0 400px; }
        .l-home .slide__how-can-we-help-you .slide-content .service-box h2 {
          font-family: "SimplonNorm-Bold";
          font-size: 12px; }
        .l-home .slide__how-can-we-help-you .slide-content .service-box p {
          font-family: "SimplonNorm";
          font-size: 21px;
          padding-right: 36px;
          padding-bottom: 36px; }
  .l-home .slide__portfolio {
    background: white;
    display: flex;
    flex-wrap: wrap;
    padding: 80px 20px; }
    .l-home .slide__portfolio .product-box {
      display: flex;
      flex-direction: column;
      margin: 20px 0;
      cursor: pointer; }
      @media screen and (max-width: 768px) {
        .l-home .slide__portfolio .product-box {
          max-width: 440px;
          margin: 20px auto; } }
      .l-home .slide__portfolio .product-box .product-title {
        padding-bottom: 14px;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px; }
      .l-home .slide__portfolio .product-box .product-image-wrapper {
        position: relative; }
        .l-home .slide__portfolio .product-box .product-image-wrapper .product-text {
          position: absolute;
          height: 100%;
          width: 100%;
          background: #403cd9;
          opacity: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: auto;
          -moz-transition: opacity 600ms ease-in-out;
          -o-transition: opacity 600ms ease-in-out;
          -webkit-transition: opacity 600ms ease-in-out;
          transition: opacity 600ms ease-in-out; }
          .l-home .slide__portfolio .product-box .product-image-wrapper .product-text:hover {
            opacity: 0.9;
            -moz-transition: opacity 100ms ease-in-out;
            -o-transition: opacity 100ms ease-in-out;
            -webkit-transition: opacity 100ms ease-in-out;
            transition: opacity 100ms ease-in-out; }
          @media screen and (max-width: 768px) {
            .l-home .slide__portfolio .product-box .product-image-wrapper .product-text {
              opacity: 0.9; } }
          .l-home .slide__portfolio .product-box .product-image-wrapper .product-text .product-text__inner {
            padding: 40px;
            font-size: 18px;
            line-height: 1.5;
            color: white; }
            @media screen and (max-width: 768px) {
              .l-home .slide__portfolio .product-box .product-image-wrapper .product-text .product-text__inner {
                font-size: 13px;
                line-height: 1.3333; } }
        .l-home .slide__portfolio .product-box .product-image-wrapper .product-image {
          max-width: 100%; }

.slide__heading {
  margin: 0 0 60px 0;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px; }

.slide__section-heading {
  opacity: 0.8;
  margin: 0 0 10px 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px; }

.slide__section-intro {
  opacity: 0.5;
  margin: 0 0 10px 0;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px; }

.slide__section-hero {
  font-family: "SimplonNorm-Bold";
  font-size: 42px; }

.slide__text {
  margin: 0;
  font-size: 18px;
  line-height: 1.6; }

.slide__item {
  padding: 20px 0; }

.slide--culture {
  padding: 80px 20px; }

@media screen and (max-width: 768px) {
  .culture-image {
    width: 100%;
    height: auto; } }

.shift-up-100 {
  position: relative;
  top: -100px; }
  @media screen and (max-width: 768px) {
    .shift-up-100 {
      top: 0; } }

.shift-up-200 {
  position: relative;
  top: -200px; }
  @media screen and (max-width: 768px) {
    .shift-up-200 {
      top: 0; } }
