@import "../settings.scss";

.l-home {
    background: white;

    .slide {
        min-height: 75vh;
        width: 100%;

        .slide-content {
            margin: auto;
            max-width: 1000px;
            width: 100%;
            padding: 12px;
        }
    }

    .slide__oneliner {
        position: relative;
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 80px 20px;
        background: $background-color-black;
        color: white;

        .oneliner-quote {
            padding: 20px;
            font-family: 'FoundryPlek-Light';
            font-size: 64px;
            line-height: 1.3333;
            text-transform: uppercase;
            text-align: center;
            quotes: "“" "”" "‘" "’";

            &:before {
                content: open-quote;
            }

            &:after {
                content: close-quote;
            }

            @media screen and (min-width: $breakPointBig) {
                font-size: 64px;
                line-height: 1.3333;
            }

            @media screen and (max-width: $breakMd) {
                font-size: 22px;
            }
        }

        .oneliner-quoted-by {
            margin: 80px 0;
            font-size: 16px;
            line-height: 1.3333;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }
    }

    .slide__slogan {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;

        .slogan-text {
            font-family: 'SimplonNorm-Light';
            color: $text-color-black;
            font-size: 36px;
            text-align: center;

            @media screen and (max-width: $breakMd) {
                font-size: 22px;
            }
        }
    }

    .slide__how-can-we-help-you {
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 80px 20px;
        background-color: $background-color-black;
        color: $text-color-white;

        .slide-content {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;

            .service-header {
                text-align: center;
                flex: 1 0 100%;
                margin-bottom: 50px;

                h1 {
                    font-family: "SimplonNorm-Bold";
                    font-size: 17px;
                }
            }

            .service-box {
                flex: 0 0 400px;

                h2 {
                    font-family: "SimplonNorm-Bold";
                    font-size: 12px;
                }

                p {
                    font-family: "SimplonNorm";
                    font-size: 21px;
                    padding-right: 36px;
                    padding-bottom: 36px;
                }
            }
        }
    }

    .slide__portfolio {
        background: white;
        display: flex;
        flex-wrap: wrap;
        padding: 80px 20px;

        .product-box {
            display: flex;
            flex-direction: column;
            margin: 20px 0;
            cursor: pointer;

            @media screen and (max-width: $breakMd) {
                max-width: 440px;
                margin: 20px auto;
            }

            .product-title {
                padding-bottom: 14px;
                font-size: 16px;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            .product-image-wrapper {

                // to overlay both, the wrapper is 'relative', the childs are 'absolute'
                position: relative;
                .product-text {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background: #403cd9;
                    opacity: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    @include transition(opacity 600ms ease-in-out);

                    &:hover {
                        opacity: 0.9;
                        @include transition(opacity 100ms ease-in-out);
                    }

                    @media screen and (max-width: $breakMd) {
                        opacity: 0.9;
                    }

                    .product-text__inner {
                        padding: 40px;
                        font-size: 18px;
                        line-height: 1.5;
                        color: white;

                        @media screen and (max-width: $breakMd) {
                            font-size: 13px;
                            line-height: 1.3333;
                        }
                    }
                }

                .product-image {
                    max-width: 100%;
                }
            }

        }
    }
}

.slide__heading {
    margin: 0 0 60px 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.slide__section-heading {
    opacity: 0.8;
    margin: 0 0 10px 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.slide__section-intro {
    opacity: 0.5;
    margin: 0 0 10px 0;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.slide__section-hero {
    font-family: "SimplonNorm-Bold";
    font-size: 42px;
}

.slide__text {
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
}

.slide__item {
    padding: 20px 0;
}

.slide--culture {
    padding: 80px 20px;
}

.culture-image {
    @media screen and (max-width: $breakMd) {
        width: 100%;
        height: auto;
    }
}

.shift-up-100 {
    position: relative;
    top: -100px;

    @media screen and (max-width: $breakMd) {
        top: 0;
    }
}

.shift-up-200 {
    position: relative;
    top: -200px;

    @media screen and (max-width: $breakMd) {
        top: 0;
    }
}