$text-color-white: #FFFFFF;
$text-color-black: #2B2B2B;
$text-color-grey: #A2A0A2;

$background-color-black: #121212;
$background-color-blue: #160ECF;
$background-color-pink: #FF0954;
$background-color-green: #00FFBA;