@import "../../../variables";

.contact {
    padding-top: 0;

    margin-top: 65px;
    padding: 50px 0 50px;

    &__text {
        font-weight: 700;
        line-height: 45px;

        a {
            &:hover {
                color: $font-col-interaction;
            }

            text-decoration: none;
            transition: color .1s;
        }
    }

    @include device(phone) {
        display: none !important;
    }
}
